* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* Navbar CSS */

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    /* border-bottom: 5px solid white; */
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

/* Button CSS */

.action-btn {
    background: #0e4f1f;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    border: 1.5px solid #0e4f1f;
    font: inherit;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.action-btn:hover,
.action-btn:active {
    background: white;
    color: #19b84c;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 16px;
    border: 1.5px solid #19b84c;
    font: inherit;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

.action-btn:focus {
    outline: none;
}

/* Footer CSS */

.main-footer {
    background: black;
    margin-top: 48px;
    padding: 32px;
}

.footer--list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer--item {
    display: inline-block;
    margin: 0 16px;
}

.item {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.item:hover, 
.item:active {
    color: #ccc;
}